/* File: HomePage.module.css */
.nav {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #eee; /* Add your preferred background color */
}

.logoContainer {
  margin-left: 80px;
}

.spacer {
  flex-grow: 1;
}

.ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.li {
  margin-right: 80px;
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  margin-top: 90px; /* Add margin at the top */
}

.button {
  margin-left: 10px;
}
